{{!-- <div class="card">
    <div class="card-header">
        <h4><a class="link" href="/post/{{id}}">{{title}}</a></h4>
        <p>Posted by {{user.username}} on {{format_date created_at}}</p>
    </div>
    <p class="card-body">{{content}}</p>
</div> --}}
<div class="subforum">
    <div class="subforum-row">
        <div class="subforum-icon subforum-column center">
            <i class="fa fa-film center"></i>
        </div>
        <div class="subforum-description subforum-column">
            <h4><a class="link" href="/post/{{id}}">{{title}}</a></h4>
        </div>
        <div class="subforum-stats subforum-column center">
            <span>24 Comments</span>
        </div>
        <div class="subforum-info subforum-column">
            <p>Posted by {{user.username}}
                <br>on {{format_date created_at}}
            </p>
        </div>
    </div>
</div>