<div class="row align-items-center" id="posts">
    <div class="col-sm-2">
        <i class="fa fa-film fa-3x"></i>
    </div>
    <div class="col-sm-6">
        <h4><a class="link" href="/post/{{id}}">{{title}}</a></h4>
    </div>
    <div class="col-sm-2">
        {{#if comments.length}}
        <span>{{comments.length}} {{format_plural "comment" comments.length}}</span>
        {{else}}
        <span>No comments</span>
        {{/if}}
    </div>
    <div class="col-sm-2 ">
        <p>Posted by {{user.username}}
            <br>on {{format_date created_at}}
        </p>
    </div>
</div>

